CORRECTION/GDOCS_WF.json
{
    "nodes": [
        {
            "parameters": {
                "promptType": "define",
                "text": "=Voici le contenu de mon CV : \n{{ $json.text }}\n\nEt voici une offre d'emploi : {{ $('Upload your file here').item.json.offer }}\n\nJe veux que tu me rédige une lettre de motivation adaptée à cette offre en utilisant ce qu'il y a sur mon CV, la lattre de motivation doit montrer mon interet pour le poste, pour la boite",
                "options": {
                    "systemMessage": "=You are given the content of a pdf, your role is to resume what is inside this pdf"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                624,
                0
            ],
            "id": "c5c272b8-00b9-4efd-bcb8-1e2625dc0e93",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "modelName": "models/gemini-3.1-flash-lite-preview",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                336,
                400
            ],
            "id": "3a97f2e7-6afc-4437-bd64-af2e8716d5e4",
            "name": "Google Gemini Chat Model",
            "credentials": {
                "googlePalmApi": {
                    "id": "B2KTKxU8h1N4QhqX",
                    "name": "Google Gemini(PaLM) Api account 2"
                }
            }
        },
        {
            "parameters": {
                "operation": "pdf",
                "options": {}
            },
            "type": "n8n-nodes-base.extractFromFile",
            "typeVersion": 1.1,
            "position": [
                400,
                0
            ],
            "id": "1ef95270-3813-4d63-95c1-11bb21734ea3",
            "name": "Extract from File"
        },
        {
            "parameters": {
                "formTitle": "Upload your CV",
                "formFields": {
                    "values": [
                        {
                            "fieldLabel": "data",
                            "fieldType": "file",
                            "acceptFileTypes": ".pdf",
                            "requiredField": true
                        },
                        {
                            "fieldLabel": "offer",
                            "fieldType": "textarea",
                            "requiredField": true
                        },
                        {
                            "fieldLabel": "Google docs url"
                        },
                        {
                            "fieldType": "html",
                            "elementName": "notice",
                            "html": "<!-- Your custom HTML here --->\n<p>\n  N'oubliez pas de partager votre documents avec le compte de service google\n</p>\n\n"
                        }
                    ]
                },
                "options": {}
            },
            "id": "7fed5581-18ea-4358-a1d9-451080aa8d63",
            "name": "Upload your file here",
            "type": "n8n-nodes-base.formTrigger",
            "position": [
                176,
                0
            ],
            "webhookId": "d1671c93-3658-4efa-8da9-71b5a04a492b",
            "typeVersion": 2.2
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "4544dfc8-85cb-4fb0-be0a-53e2658c7d8b",
                            "name": "reponse",
                            "value": "={{ $json.output }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                976,
                0
            ],
            "id": "a7a15423-e5c6-40b4-a1af-f9cbf0845cea",
            "name": "Edit Fields"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Avec cette lettre de motivation: \n{{ $json.reponse }}\n\nFormatte la pour qu'elle soit rentrée sur google docs, google docs ne prend pas en compte la syntaxe markdown.\n\nsépare dans un JSON l'objet et le contenu de la lettre\n\nNE RAJOUTTE PAS DE TEXTE COMPLEMENTAIRE.",
                "hasOutputParser": true,
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                624,
                208
            ],
            "id": "ea83892e-e820-4668-8f97-b4e72ad60601",
            "name": "AI Agent1"
        },
        {
            "parameters": {
                "authentication": "serviceAccount",
                "operation": "update",
                "documentURL": "={{ $('Upload your file here').item.json['Google docs url'] }}",
                "actionsUi": {
                    "actionFields": [
                        {
                            "action": "insert",
                            "text": "={{ $json.output.objet }}"
                        },
                        {
                            "action": "insert",
                            "text": "=\n{{ $json.output.contenu }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.googleDocs",
            "typeVersion": 2,
            "position": [
                976,
                208
            ],
            "id": "49d880e3-cd9f-4ff9-b60b-3dbd6a5e10b1",
            "name": "Update a document",
            "credentials": {
                "googleApi": {
                    "id": "73FybLa5uNVTkH7M",
                    "name": "Google Docs account"
                }
            }
        },
        {
            "parameters": {
                "schemaType": "manual",
                "inputSchema": "{\n\t\"object\":\"String\",\n    \"content\":\"String\"\n}"
            },
            "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
            "typeVersion": 1.3,
            "position": [
                768,
                416
            ],
            "id": "0dc5a0dc-8a4e-49d0-843c-cb7ea833d06b",
            "name": "Structured Output Parser"
        }
    ],
    "connections": {
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Edit Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "AI Agent1",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract from File": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload your file here": {
            "main": [
                [
                    {
                        "node": "Extract from File",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Edit Fields": {
            "main": [
                [
                    {
                        "node": "AI Agent1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent1": {
            "main": [
                [
                    {
                        "node": "Update a document",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Structured Output Parser": {
            "ai_outputParser": [
                [
                    {
                        "node": "AI Agent1",
                        "type": "ai_outputParser",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "fe580ced43ddc5ee02eab2919af7042f7e002ef4e4e4bd5fb8edd439d126a022"
    }
}